{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4" style="color: white">Welcome Back, {{ user.username }}</h1>
        <p class="lead" style="color: white">Teaching Guitar Now!</p>
        <a href="{% url 'students' %}" class="btn btn-light btn-lg">See Your Students</a>
      </div>
    </div>
  </div>
</section>



{% endblock %}

