{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="page-header">
  <div class="dark-overlay">
  <div class="header-inner container">
    <div class="row">
      <div class="col-md-8 m-auto text-right">
        <h1 class="display-4">Guitar Teaching</h1>
        <p class="lead">Become a one-on-one guitar teacher!</p>
        <a href="{% url 'register' %}" class="btn btn-light btn-lg">Sign Up Now</a>
      </div>
    </div>
  </div>
  </div>
</header>


<!-- Video Play -->
<section id="video-section">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a href="#" class="video" data-video="https://www.youtube.com/embed/vFx8c5aF6vA"
          data-toggle="modal" data-target="#videoModal">
            <i class="fas fa-play fa-3x"></i>
          </a>
          <h1>Watch a Video</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!--https://www.youtube.com/watch?v=vFx8c5aF6vA https://www.youtube.com/embed/vFx8c5aF6vA-->

<!-- Video Modal -->
<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <iframe src="#" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<a href="/download/1/">下载img图片</a>
<a href="/download1/2/">下载json文件</a>

{% endblock %}
