{% extends 'base.html' %} {% block content %}
<section id="showcase-inner" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4" style="color: white">Start lessons with your students!</h1>
        <p class="lead" style="color: white">Teaching Guitar Now!</p>
      </div>
    </div>
  </div>
</section>



<section id="students" class="py-4">
  <div class="container">
    <div class="row">
      <!-- there are students in the database -->
      {% if students %}
        {% for student in students %}
        <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-header">
                {{ student.level }}
            </div>
            <div class="card-body">
                <div class="img-fluid rounded-circle w-50 mb-3">{{ student.photo }}</div>
<!--                <img src= {{ student.photo }} alt="" class="img-fluid rounded-circle w-50 mb-3">-->
                <h4 class="card-title">{{ student.name }}</h4>
                <p class="card-text">{{ student.description }}</p>
<!--<input type="hidden" id="studentid" value="{{student.id}}">-->
                <a class="btn btn-sample" href="{% url 'student' student.id %}">Start Lesson</a>
                <a class="btn btn-sample"  onclick = "deleteStudent('{{student.id}}')">Delete</a>
                <a class="btn btn-sample"  onclick = "editStudent('{{student.id}}','{{student.name}}','{{student.description}}','{{student.level}}','{{student.email}}')"  >edit</a>
                  <a class="" data-toggle="modal" data-target="#mystudent1" role="button" id="hiddenEdit"></a>
            </div>
        </div>
        </div>
        {% endfor %}
      {% else %}

      <div class="col-md-12">
        <p>No Students Here</p>
      </div>

      {% endif %}
    </div>
  </div>
          <a class="btn btn-sample" data-toggle="modal" data-target="#mystudent" role="button">Add Student</a>
  </section>
<div class="modal fade" id="mystudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-inline row">
                            <label >name:</label>
                            <input type="text" id="name">
                        </div>

                        <div class="form-inline row">
                            <textarea  id="de" placeholder="please input your description"></textarea>
                        </div>
                      <div class="form-inline row">
                            <label >email:</label>
                            <input type="text" id="email">
                        </div>
                      <div class="form-inline row">
                            <label >level:</label>
                            <input type="text" id="level">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel
                    </button>
                    <button type="button" id="add1" onclick="adStudent()" class="btn btn-primary">
                        submit
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


<div class="modal fade" id="mystudent1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-inline row">
                            <label >name:</label>
                            <input type="text" id="name1">
                        </div>

                        <div class="form-inline row">
                            <textarea  id="de1" placeholder="please input your description"></textarea>
                        </div>
                      <div class="form-inline row">
                            <label >email:</label>
                            <input type="text" id="email1">
                        </div>
                      <div class="form-inline row">
                            <label >level:</label>
                            <input type="text" id="level1">
                            <input type="hidden" id="id1">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel
                    </button>
                    <button type="button" id="edit" onclick="submiteditStudent()" class="btn btn-primary">
                        submit
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>





{% endblock %}

