{% extends 'base.html' %}
{% load static%}
{% block content %}
<section id="showcase-inner" class="py-4" style="height: 220px">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4" style="color: white">Let's Start!</h1>
        <p class="lead" style="color: white">Teaching Guitar Now!</p>
      </div>
    </div>
  </div>
</section>


<section id="guitar-display" class="py-4">
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col-md-4 ml-auto align-content-center text-center p-5">-->
<!--                -->
<!--            </div>-->
<!--        </div>-->
        <div class="card text-center">
            <div class="card-header">
                Guitar Display
            </div>
            <div class="card-body ">
<!--                <h4 class="card-title">Guitar Display</h4>-->
<!--                <p class="card-text">xxx</p>-->
<!--                <a class="btn btn-info" href="#">Start Lesson</a>-->
                <div class="container">
                    <div class="container mb-3">
<!--                        <form id="upload-form" action="upload.php" method="post" enctype="multipart/form-data" >-->
<!--                        　　　<input type="file" id="upload" name="upload" /> <br />-->
<!--                        　　　<input type="submit" value="Upload" />-->
<!--                        </form>-->
<!--                        <input type="file" id="file" name="" />-->
<!--                        <div id="image" style="width:390px;height:280px; background:#CCCCCC; float:left;">-->
<!--                            <img src="{% static 'img/guitar.jpeg' %}" />-->
<!--                        </div>-->
                        {% csrf_token %}
                        <input id="your_image" type="file"  onchange="upload(this)" value="ADD IMAGE" accept="image/heic image/jpg image/jpeg image/png" class="m-3"/>

                            <div id="show_image">

                            </div>





                    </div>

                    <table class="board">
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                         <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                        <tr>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                            <td><button type="button"></button></td>
                        </tr>
                    </table>
                </div>
                <button id="start-play" class="btn btn-sample my-2">START PLAYING</button>
                <button id="reset" class="btn my-2">RESET BOARD</button>
                <div class="break-line py-3 my-2"></div>
                <p>You could give you instructions by clicking on the grid above first, fill the form blow and then click "SUMMIT" to show your instructions</p>
                <div class="container">
                    <form onsubmit="" id="instruction" class="col-md-6 m-auto align-content-center text-center pt-2">
                        <div class="form-group mt-1">
<!--                            <input-->
<!--                            type="text"-->
<!--                            name="finger_id"-->
<!--                            class="form-control form-control" -->
<!--                            placeholder="Enter Finger Number (0: index finger; 1:middle finger; 2:ring finger; 3: little thumb"-->
<!--                            required-->
<!--                            id="finger_id"-->
<!--                            />-->
                            <select
                                name="finger_id"
                                id="finger_id"
                                class="form-control form-control"
                                placeholder="Select Finger Number (0: index finger; 1:middle finger; 2:ring finger; 3: little thumb"
                            >
                                <option value="0">Index Finger</option>
                                <option value="1">middle Finger</option>
                                <option value="2">Ring Finger</option>
                                <option value="3">Little Thumb</option>
                            </select>
                        </div>

                        <div class="form-group mt-1">
                            <input
                            type="text"
                            name="duration"
                            class="form-control form-control" placeholder="Enter Duration (/ms)"
                            required
                            id="duration"
                            />
                        </div>
                        <input type="submit" value="ADD INSTRUCTION" class="btn" id="add-info" />
<!--                        <a href="#" id="submit-info" class="btn btn-light btn-lg">SUBMIT</a>-->
                    </form>
<!--                    <button id="submit-info" class="btn btn-sample my-3">SUBMIT</button>-->
                    <button onclick="saveList()" class="btn btn-sample my-3">SUBMIT</button>
                    <button onclick="saveAsJsonFile()" class="btn btn-sample my-3">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}