{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <!-- Bootstrap -->
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap_sim.css' %}" />-->
<!--    <link-->
<!--      href="https://cdn.bootcdn.net/ajax/libs/skeleton/2.0.4/skeleton.css"-->
<!--      rel="stylesheet"-->
<!--    />-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />

    <title>Guitar Teaching System</title>
  </head>
  <body>
    {% include 'utils/_navbar.html' %}
    {% block content %} {% endblock %}


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!--    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
<!--    <script src="{% static 'js/some_classes.js' %}"></script>-->
    <script src="{% static 'js/play_board.js' %}"></script>
    <script>
      $(function() {
        $(".video").click(function() {
          let my_modal = $(this).data("target"),
            guitar_video_src = $(this).attr("data-video"),
            play_auto = guitar_video_src + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
          $(my_modal + ' iframe').attr('src', play_auto);
          $(my_modal + ' button.close').click(function() {
            $(my_modal + ' iframe').attr('src', guitar_video_src);
          });
        });
      });
    </script>
    <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>
