.navbar {
  border-bottom: #f4a460 4px solid;
}


#page-header {
  color: #fff;
  /*border-bottom: 1px #eee solid;*/
  padding-top: 50px;
  background: url('../img/guitar4.jpeg') no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 563px;
}


#showcase-inner {
  height: 250px;
  /*background-color: #17a2b8;*/
  background: url('../img/guitar4.jpeg') no-repeat fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.board button {
  width:257px;
  height: 50px;
  border-color:#efefef;
  border-width: 3px;
}

#login-section {
  background: url('../img/guitar4.jpeg') no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 850px;
  text-align: center;
  color: white;
}

#register-section {
  /*height:100%;*/
  background: url('../img/guitar4.jpeg') no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 850px;
}

.dark-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  min-height: 850px;
  background-color: rgba(0, 0, 0, 0.3);
}

#register-section .register-inner {
  padding-top: 100px;
}

#login-section .login-inner {
  padding-top: 100px;
}

.header-inner {
  padding-top: 120px;
}

#video-section .dark-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#video-section {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: white;
}

#video-section a {
  color: white;
}

.break-line {
  height: 3px;
  background-color: #efefef;
}


#display_image {
  width: 375px;
  height: 400px;
  border: solid black 1px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: center;
}



/*Customise Button*/

.btn-grey {
  color: #ffffff;
  background-color: #778899;
  border-color: #6E8091;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #657D96;
  border-color: #6E8091;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #778899;
  border-color: #6E8091;
}

.btn-grey .badge {
  color: #778899;
  background-color: #ffffff;
}



.btn-sample {
  color: #ffffff;
  background-color: #F4A460;
  border-color: #E69C68;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #DB9353;
  border-color: #E69C68;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #F4A460;
  border-color: #E69C68;
}

.btn-sample .badge {
  color: #F4A460;
  background-color: #ffffff;
}